*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#eafcff;
color:#034;
}

/* HEADER */
header{
background:linear-gradient(90deg,#9be7ff,#a6f7c7);
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:100;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#034;
font-weight:600;
}

/* HERO */
.hero{
display:flex;
flex-wrap:wrap;
padding:60px 40px;
align-items:center;
justify-content:space-between;
}

.hero-text h1{
font-size:42px;
}

.hero-buttons button{
margin:10px;
padding:12px 25px;
border:none;
border-radius:25px;
background:#4dd599;
color:#034;
cursor:pointer;
}

.hero-img img{
width:350px;
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* ABOUT */
.about{
padding:60px 40px;
background:#f1fffb;
text-align:center;
}

.about-box p{
margin:12px 0;
}

/* GALLERY */
.gallery{
padding:60px 40px;
text-align:center;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:white;
padding:15px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:15px;
}

/* TESTIMONIALS */
.testimonials{
background:#dff9f0;
padding:50px;
text-align:center;
}

/* CONTACT */
.contact{
padding:60px 40px;
text-align:center;
}

form{
max-width:400px;
margin:auto;
}

input,textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:1px solid #aaa;
}

button{
background:#4dd599;
border:none;
padding:12px;
border-radius:20px;
cursor:pointer;
}

/* FOOTER */
footer{
background:#4dd599;
text-align:center;
padding:15px;
margin-top:30px;
}
